<head>
</head>
<link rel="stylesheet" href="~/css/site.css" media="screen" type="text/css" />
<div id="main" class="main">
    <div class="top">
        <img src="reload_icon.png" class="big-reload" onclick="getRandomResultForAll()">
        <h1 class="title">Kenshi Run Randomizer</h1>
    </div>
    <div class="grid">

        <div class="result">
            <img src="reload_icon.png" class="reload-image" onclick="getRandomResult('Starts')">
            <p class="label" >Start</p>
            <p id="Starts" class="text"></p>
        </div>

        <div class="result">
            <img src="reload_icon.png" class="reload-image" onclick="getRandomResult('BaseLocations')">
            <p class="label">Base Location</p>
            <p id="BaseLocations" class="text"></p>
        </div>

        <div class="result">
                <img src="reload_icon.png" class="reload-image" onclick="getRandomResult('Goals')">
            <p class="label">Goal</p>
            <p id="Goals" class="text"></p>
            <p id="GoalsDesc" class="desc"></p>
        </div>

        <div class="result">
                <img src="reload_icon.png" class="reload-image" onclick="getRandomResult('Restrictions')">
            <p class ="label">Restriction</p>
            <p id="Restrictions" class="text"></p>
            <p id="RestrictionsDesc" class="desc"></p>
        </div>
    </div>
</div>
